
body{
    margin: 0;
    
}
/*----------Header Area-----------*/

.header-area{
    display: flex;
    margin-top: 80px;
    margin-left: 10%;
    margin-bottom: 100px;
    
}
.header-text-part{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, #FF5959, tomato);
    border-image-slice: 1;
   
    
}
.header-left-area{
    width: 40%;
    padding-right: 10%;
    padding-top: 80px;
}
h1{
    font-size: 60px;
    font-family:Cursive;
    line-height: 30px;
    
}
#mission-color{
    color:#715077;
}
.header-left-area p{
    font-size: 20px;
}
.button-link{
    border-radius: 5px;
    color: #f8f7f5;
    text-decoration: none;
    padding: 17px 32px;
    background-color: rgb(80, 216, 178);
    line-height: 33px;
}

.header-right-area{
    padding-top: 80px;
    width: 40%;
    padding-left: 80px;
}
.header-right-area img{
    width: 90%;
}

.header-left-area p{
    line-height: 30px;
}


/*------------------Mission Area ---------------------*/

.mission-main-part{
    padding-left: 10%;
    padding-bottom: 100px;

}
.mission-main-part h1{
    text-align: center;
}
.mission-main-part span{
    color:#C1A642;
}
.mission-main-box-part{
    display: flex;
}
.mission-box-part{
    width: 30%;
    padding:20px 5px;
    background-color:#03A629;
    border-radius: 20px;
    margin-right: 10px;
    color: white;
    text-align: center;

}

.mission-box-part img{
    width: 50%;
}

.vission-box-part {
    width: 30%;
    padding:20px 5px;
    background-color:#292626;
    border-radius: 20px;
    margin-right: 10px;
    color: white;
    text-align: center;
}
.vission-box-part img{
    width: 50%;
}


.goals-box-part{
    width: 30%;
    padding:20px 5px;
    background-color:#190524;
    border-radius: 20px;
    color: white;
    text-align: center;
}
.goals-box-part img{
    width: 50%;
}

#heading-two-size{
    font-size: 25px;
}


/*------------------------------------ Developa Area ------------*/

.develop-docu-Area{
    display: flex;
    
}
.develop-img-part{
    width: 36%;
    padding-left: 15%;
}
.develop-img-part img{
    width: 90%;
    border-radius: 10px;
}

.develop-text-part{
    width: 40%;
}
#heading-two-size{
    font-size: 25px;
}


/*------------------------ Project Community Area -------------------*/

.project-community-area{
    display: flex;
    padding:100px;
}

.community-img-part{
    width: 45%;
    padding-left: 5%;
}
.community-img-part img{
    width: 80%;
}
.community-text-part{
    width: 40%;
    padding-left: 10%;
}













/*--------------Our Project Portfolio Area---------------*/

.our-portfolio-area{
    padding-left: 100px;
    padding-bottom:250px;
    text-align: center;
    background-color: #FFEEEE;
}
.our-portfolio-area h2{
    border-bottom: 3px solid;
    border-color: crimson;
}
.our-portfolio-area span{
    color:blue;
}
.img-portfolio-Top-part{
    display: flex;
    padding-bottom: 2%;
    text-align: center;
}
.img-portfolio-1{
   margin: 5px 5px;
    size: 200px;


    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    
}
.img-portfolio-2{
    margin: 5px 5px;
    size: 100%;

    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
}
.img-portfolio-3{
    margin: 5px 5px;
    size: 100%;


    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
}




/*------------------------------------------------------------------*/

footer{
    margin: 0;
    background-size: 200px;
    background-color: #0B0D17;
    text-align: center;
    color: whitesmoke;
    padding: 50px 0;
}

footer h3 span{
    color: orange;
}



