
body{

}
/*----------Header Area-----------*/

.header-area{
    display: flex;
    margin-top: 80px;
    margin-left: 10%;
    margin-bottom: 200px;
}
.border-images{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, #FF5959, tomato);
    border-image-slice: 1;
}
.header-left-area{
    width: 40%;
    padding-right: 10%;
}
h1{
    font-size: 60px;
}
#mission-color{
    color: #FFAD5A;
}
.header-left-area p{
    font-size: 20px;
}
.button-link{
    border-radius: 5px;
    color: wheat;
    text-decoration: none;
    padding: 13px 30px;
    background-color: #FF5959;
}

.header-right-area{
    
    width: 40%;
}
.header-right-area img{
    width: 80%;
}




/*------------------Mission Area ---------------------*/

.mission-main-part{
    padding-left: 10%;
    padding-bottom: 100px;

}
.mission-main-part h1{
    text-align: center;
}
.mission-main-part span{
    color:tomato;
}
.mission-main-box-part{
    display: flex;
}
.mission-box-part{
    width: 30%;
    padding:20px 5px;
    background-color:#EDF5F6;
    border-radius: 20px;
    margin-right: 10px;

}

.mission-box-part img{
    width: 50%;
}

.vission-box-part {
    width: 30%;
    padding:20px 5px;
    background-color:#FFEEEE;
    border-radius: 20px;
    margin-right: 10px;
}
.vission-box-part img{
    width: 50%;
}


.goals-box-part{
    width: 30%;
    padding:20px 5px;
    background-color:#FFF4D6;
    border-radius: 20px;
}
.goals-box-part img{
    width: 50%;
}



/*------------------------------------ Developa Area ------------*/

.develop-docu-Area{
    display: flex;
    padding-bottom: 100px;
}
.develop-img-part{
    width: 45%;
    padding-left: 10%;
}
.develop-img-part img{
    width: 70%;
}

.develop-text-part{
    width: 40%;
}


/*------------------------ Project Community Area -------------------*/

.project-community-area{
    display: flex;
    padding:100px;
}

.community-img-part{
    width: 45%;
    padding-left: 5%;
}
.community-img-part img{
    width: 70%;
}
.community-text-part{
    width: 40%;
    padding-left: 10%;
}